.footer {
	background-color: #433D3C;
	height: 400px;
	width: 100vw;
	display: inline-block;
	display: flex;
	flex-direction: row;

	&__social {
		width: 33.33%;
		height: 100%;
		

	}

	&__text {
		width: 33.33%;
		height: 100%;
		

	}

	&__btn {
		width: 33.33%;
		height: 100%;
		
	}



	&__icon {
		width: 2.5rem;
		height: auto;
		margin-top: 80px;
		position: relative;
		left: 250px;
		margin-left: 15px;


	}

	&__paragraph {
		margin-top: 80px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400px;
		line-height: 27px;
		color: #ffffff;
	}

	&__button {
		margin-top: 80px;
		width: 202px;
		height: 45px;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.125rem;
		font-weight: 700;
		text-align: center; 
	}
}