
.large-hero {

	
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;


	&__img {
		width: 100vw;
		height: 60vh;
	}

	&__top {

		display: flex;
		flex-direction: row;
		position: absolute;
		top: 28px;
		width: 100%;
		align-items: center;
		justify-content: space-between;

	}

	&__icon {
		width: 3rem;
		height: auto;
		margin-left: 1.5rem;
	}

	&__btn {
		margin-right: 1.5rem;
	}
		
	&__nav {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 100px;
		width: 100%;
		align-items: center;
		justify-content: space-around;
		color: #ffffff;
		padding: 10px 30px;
		font-size: .8125rem;
		font-weight: 700;
		line-height: 1.4375rem;
	}

	&__text {

		position: absolute;
		top: 50%;
		/*translate sposta l elemento sull asse verticale in base a una percentuale che al 100% e la sua altezza, quindi in questo caso 
		lo sposta di meta` dell altezza verso l alto*/
		transform: translateY(-50%);
		left: 0;	
		width: 100%;
		text-align: center;

	}

	&__title {
		font-size: 2.0625rem;
		font-weight: 900;
		line-height: 2.0625rem;
		color: #ffffff;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		margin-bottom: 0;
		
		@mixin atMedium {

			font-weight: 18.75;
			font-size: 4.8rem;

		}


	}

	&__subtitle {

		font-size: 2rem;
		font-weight: 900;
		line-height: 2rem;
		color: #ffffff;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		margin-top: 0;
		margin-bottom: 0;

		@mixin atMedium {

			font-weight: 18.75;
			font-size: 2.9rem;

		}

	}

	&__description {
		
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5rem;
		color: #ffffff;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		

		@mixin atMedium {

			font-weight: 100;
			font-size: 1.875rem;

		}
	}
}