
.large-hero {

	position: relative;
	font-family: 'Montserrat', sans-serif;
	


	&__img {
		width: 100vw;
		height: 75vh;

		@mixin atMedium {
			height: 120vh;
		}

	}

	&__top {

		display: flex;
		flex-direction: row;
		position: absolute;
		top: 1.75rem;
		width: 100%;
		align-items: center;
		justify-content: space-between;


	}

	&__icon {
		width: 3rem;
		height: auto;
		margin-left: 1.5rem;

		@mixin atMedium {
			width: 6.28rem;
			height: auto;
			margin-left: 11.812rem;
			margin-top: 1rem;

		}
	}

	&__btn {
		margin-right: 1.5rem;

		@mixin atMedium {
			margin-right: 11.68rem;
			margin-top: 1.5625rem;
			font-size: 1.1rem;
			font-weight: 400;
			line-height: 1.6865rem;
			width: 197px;
			height: 44px;
			text-align: center;
		}
	}
		
	&__nav {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 100px;
		width: 90%;
		align-items: center;
		justify-content: space-around;
		color: #ffffff;
		padding: 10px 30px;
		font-size: .8125rem;
		font-weight: 700;
		line-height: 1.4375rem;
	/*centrare un absolute element left:0 right:0 and amrgin auto*/
		left: 0;
		right: 0;
		margin: auto;
		

		@mixin atMedium {

			font-size: 1.1rem;
			font-weight: 400;
			line-height: 27px;
			font-style: ;
			position: absolute;
			top: 74px;
			left: 0;
			right: 0;
			margin: auto;
			width: 45%;

		}
		
	}

	&__text {

		position: absolute;
		top: 49%;
		/*translate sposta l elemento sull asse verticale in base a una percentuale che al 100% e la sua altezza, quindi in questo caso 
		lo sposta di meta` dell altezza verso l alto*/
		transform: translateY(-50%);
		left: 0;	
		width: 80%;
		text-align: center;
		/*centrare un absolute element left:0 right:0 and amrgin auto*/
		left: 0;
		right: 0;
		margin: auto;

		@mixin atMedium {
			top: 40%;
		}
		
	}

	&__title {
		font-size: 2.0625rem;
		font-weight: 900;
		line-height: 2.0625rem;
		color: #ffffff;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		
		
	
		
		@mixin atMedium {

			font-size: 91px;
			font-weight: 900;
			line-height: 91px;
		}


	}

	&__subtitle {

		font-size: 1.2rem;
		font-weight: 900;
		line-height: 2rem;
		color: #ffffff;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		margin-top: -25px;
		
		
		

		@mixin atMedium {

			font-weight: 400;
			font-size: 50px;
			line-height: 32px;
			margin-top: -50px;

		}

	}

	&__description {
		
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5rem;
		color: #ffffff;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		
		
		

		@mixin atMedium {

			font-weight: 400;
			font-size: 19px;
			line-height: 32px;

		}
	}
}